body {
  background-image: url("Images/coffee-5009730_1280.png");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.clock {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.clock-face {
  width: 350px;
  height: 350px;
  background-color: transparent;
  margin-top: 150px;
  border: 15px solid rgb(66, 15, 15);
  border-radius: 100%;
  transform: translateY(-100px);
}

.hand {
  width: 45%;
  height: 6px;
  position: absolute;
  top: 50%;
  left: 3%;
  background-color: black;
  border-radius: 5px;
  transition: all 0.01s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  transform: translateX(2px);
}

.second-hand {
  transform-origin: right;
  /* transform: rotate(90deg); */
  left: 3%;
}

.min-hand {
  transform-origin: 100%;
  /* transform: rotate(90deg); */
  width: 43%;
  transform: translateX(px);
  left: 5%;
}

.hour-hand {
  transform-origin: 100%;
  /* transform: rotate(90deg); */
  width: 35%;
  top: 50%;
  left: 13%;
}

.middle-dot {
  width: 14px;
  height: 14px;
  background-color: black;
  position: absolute;
  display: inline-block;
  border-radius: 60px;
  top: 49%;
  left: 46%;
}

.time-numbers {
  font-size: 23px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.number-1 {
  background-color: transparent;
  position: absolute;
  display: inline-block;
  top: 6%;
  left: 69%;
}

.number-2 {
  background-color: transparent;
  position: absolute;
  display: inline-block;
  top: 23%;
  left: 87%;
}

.number-3 {
  background-color: transparent;
  position: absolute;
  display: inline-block;
  top: 46%;
  left: 93%;
}

.number-4 {
  background-color: transparent;
  position: absolute;
  display: inline-block;
  top: 69%;
  left: 86%;
}

.number-5 {
  background-color: transparent;
  position: absolute;
  display: inline-block;
  top: 85%;
  left: 69%;
}

.number-6 {
  background-color: transparent;
  position: absolute;
  display: inline-block;
  top: 90%;
  left: 46%;
}

.number-7 {
  background-color: transparent;
  position: absolute;
  display: inline-block;
  top: 83%;
  left: 25%;
}

.number-8 {
  background-color: transparent;
  position: absolute;
  display: inline-block;
  top: 67%;
  left: 9%;
}

.number-9 {
  background-color: transparent;
  position: absolute;
  display: inline-block;
  top: 46%;
  left: 2%;
}

.number-10 {
  background-color: transparent;
  position: absolute;
  display: inline-block;
  top: 25%;
  left: 7%;
}

.number-11 {
  background-color: transparent;
  position: absolute;
  display: inline-block;
  top: 9%;
  left: 23%;
}

.number-12 {
  background-color: transparent;
  position: absolute;
  display: inline-block;
  top: 2%;
  left: 44%;
}
